@media screen and (max-width: 600px) {
  body {
     font-size: 12px;
  }

  table {
    margin-top: 0;
  }

  td {
    font-size: 85%;
    word-break: keep-all;
  }

  #faculdade span, #academia span {
    font-size: 75%;
  }

  th {
    font-size: 70%;
  }
}