body {
  background-color: #242f44;
  color: white;
  font-family: 'Oswald', sans-serif;
  min-width: 100%;
  margin: 0;
  border: 0;
}

header {
  border: 2px solid #8c6b48;
  text-align: center;
  margin-top: 0px;
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #242f44;
    text-align: center;
    padding: 0; /* Remove qualquer padding extra */
/* margin: 0;  /* Remove qualquer margem extra */
/* height: auto; Deixa o header apenas do tamanho do conteúdo */
/* }  */

/* header h1 { */
/* margin: 0;  Remove margens externas */
/* padding: 10px 0; Ajuste fino para espaçamento interno */
/* font-size: 24px; Ajuste o tamanho da fonte se estiver muito grande */
/* line-height: 1; Garante que não fique maior do que o necessário */
/* } */

h1 {
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  background-color: white;
  margin: 0;
}

h2 {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}

th {
  border: 2px solid #8c6b48;
  height: 50px;
}

table {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  table-layout: fixed;
}


td {
  border: 2px solid #8c6b48;
  width: 25%;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  margin-top: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
  background-color: #242f44;
  z-index: 5;
}

footer h3 {
  display: inline-block;
  font-size: 14px;
  background-color: #242f44;
}

tfoot {
  background-color: azure;
  color: #8c6b48;
  font-size: 36px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 800px;
}

.left {
  width: 150px;
}

/* Fundo escurecido de células */
.td-bg {
  position: relative;
}

.td-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.td-bg span {
  position: relative;
  z-index: 2;
  user-select: none;
}

/* BackGround das células */
#livro {
  background-image: url(./img/livro.png);
}

#faculdade {
  background-image: url(./img/faculdade.png);
}

#almoco {
  background-image: url(./img/almoco.png);
}

#cafe {
  background-image: url(./img/cafe.png);
}

#casa {
  background-image: url(./img/casa.png);
}

#igreja {
  background-image: url(./img/cross.jpg);
}

#livre {
  background-image: url(./img/livre.png);
}

#devquest {
  background-image: url(./img/devquest.png);
}

#academia {
  background-image: url(./img/academia.png);
}

#codecademy {
  background-image: url(./img/codecademy.png);
}

#voltar {
  background-image: url(./img/voltar.png);
}

#jedi {
  background-image: url(./img/jedi.jpg);
}

#software {
  background-image: url(./img/software.jpeg);
}